@import "style.css";
/* * {outline: 1px solid red} */
body {
    margin: 0;
}

main { 
    grid-area: main;
    background-color: var(--background-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
    
    .about-us-container {
        width: 70%;
        color: var(--font-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
        
        section {
            color: var(--font-color);
            padding: 0.75em;
            font-size: 1.2rem;

            .title {
                color: var(--font-color-light);
                font-family: var(--font-family-header);
                font-weight: 700;
                font-size: 3rem;
            }
            .sub-title {
                color: var(--font-color-light);
                font-family: var(--font-family-header);
                font-size: 2rem;
            }
        }
    }

    .about-us-hero{
        width: 70%;
        height: 400px;
        border: 1px solid var(--container-border);
        border-radius: 12px;
        color: var(--font-color);
        background-image: url("https://images.unsplash.com/photo-1581785735604-419514e6099e?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        margin: 0.5rem;  

        section {
            font-size: 1.4rem;
            padding: 2rem;
            
            .title {
                font-family: var(--font-family-header);
                font-weight: 400;
                font-size: 4rem;
            }
    
            .links-container {
            padding: 1rem 0;
            font-family: var(--font-family-text);
                a {
                    color: var(--font-color-dark);
                    background-color: var(--font-color);
                    text-decoration: none;
                    text-transform: uppercase;
                    padding: 18px;
                }
                a:hover{
                    color: var(--font-color-dark);
                    background-color: var(--font-color-light);
                    text-decoration: none;
                    text-transform: uppercase;
                    padding: 18px;
                }       
            }
        }
    }
}
/* If the screen size is 599px or less use below styling* */
@media screen and (max-width: 599px) {
    main {
        gap: 0;

         .about-us-container {
            width: 90%;
            padding: 0.8rem;
            
            section {
                padding: 0.5em;
                font-size: 1rem;;

                .title {
                    font-size: 2rem;
                }
                .sub-title {
                    font-size: 1.6rem;
                }
            }
        }

        .about-us-hero{
            width: 90%;
            height: 300px;
            margin: 1rem; 

            section {
                font-size: 1rem;
                padding: 1rem 1rem 0.5rem;
                
                .title {
                    font-size: 2rem;
                }
            }
        }
    }
}
/* If the screen size is between 600 and 768px use below styling* */
@media only screen and (max-width: 768px) and (min-width: 600px) {
    main {
        gap: 0.2rem;

        .about-us-container {
            width: 80%;
            padding: 0.5rem;
            margin: 1.5rem 0.5rem 0.5rem;  
            
            section {
                padding: 0.2em;
                .title {
                    font-size: 2.2rem;
                }
                .sub-title {
                    font-size: 1.8rem;
                }
            }
        }

        .about-us-hero{
            width: 80%;
            height: 400px;
            margin: 1rem;  

            section {
                font-size: 1rem;
                padding: 2rem;
                
                .title {
                    font-size: 2.2rem;
                }
            }
        }
    }
}
