footer {
    grid-area: footer;
    width: auto;
    justify-items: center;

    .footer-container {
        /* width: fit-content; -> mobil-anpassning? */
        width: 80%;
        margin: 0 auto;
        font-family: "Oswald", sans-serif;
        font-style: normal;
        background-color: #0d2743;
        color: white;
        padding-top: 1em;
        display: flex;
        flex-direction: column;
        
        
        .capitol-logo {
            margin: 0 auto;
            
            p {
                font-family: "Permanent Marker", cursive;
                font-weight: 400;
                font-size: 72px;
                color: #ffd99f;
            }
           
        }

        .link-container {
            /* border: 1px solid red; */
            padding: 24px;
            display: flex;
            margin: 0 auto;
            gap: 108px;
            
            .link-row {  
                /* border: 1px solid red; */
                h4 {
                    color:#ffd99f;
                    font-family: "Oswald", sans-serif;
                    font-weight: 300;
                    text-transform: uppercase;
                }
                a, p {
                    text-decoration: none;
                    color: white;
                }
                .icons {
                    display: flex;
                    justify-self: center;
                    gap:12px
                }
                .icons:hover {
                    display: flex;
                    justify-self: center;
                    gap:12px
                }
            }
        }

        .newsletter-container {
            /* border: 1px solid pink; */
            display:flex;
            flex-direction: column;
            justify-content: center;
            gap: 12px;
            padding: 1em 0 2em;

            .thin-divider{
                background-color: #ffd99f;
                width: 60%;
                margin: 0 auto;
                display: block;
                height: 1px;
            }

            .newsletter {
                padding-top: 24px;
                font-family: "Oswald", sans-serif;
                font-weight: 400;
                font-size: 24px;
                text-transform: uppercase;
                margin: 0 auto;

            }
            .newsletter-link {
                font-family: "Oswald", sans-serif;
                margin: 0 auto;
                padding-bottom: 24px;
                a {
                    color:white;
                }
            }
            
            .thin-divider-2{
               background-color: #ffd99f;
               width: 80%;
               margin: 0 auto;
               display: block;
               height: 1px;
           }
            img.europa-cinema {
                margin: 0 auto;
                width:150px;
                height:72px;
            }

        }
    }
}

