@import "style.css";
body {
    margin: 0;
    background-color: var(--background-color);
}

main { 
    grid-area: main;
    background-color: var(--background-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
    .gift-card-container {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: start;
        margin: 2rem;

        section {
            font-size: 1.2rem;
            color: var(--font-color);
            padding: 0.75rem;

            .title {
                color: var(--font-color-light);
                font-family: var(--font-family-header);
                font-weight: 700;
                font-size: 3rem;
            }
            .warning {
                color: var(--font-color-light);
            }
        }
    }  

    .hero-container {
        width: 70%;
        height: 400px;
        border: 1px solid var( --container-border);
        border-radius: 12px;
        color: var(--font-color);
        background-image: url("https://media.istockphoto.com/id/173588123/photo/theatre-curtains-background.webp?a=1&b=1&s=612x612&w=0&k=20&c=p97eCK6VVE6oJRSnfh5VXJPUSCKWEehUEFnL5Wb6O4Y=");
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        margin: 0 0 2em;  

        section {
            color: var(--font-color);
            padding: 1rem;
            font-size: 1.2rem;

            .title {
                color: var(--font-color-light);
                font-family: var(--font-family-header);
                font-weight: 700;
                font-size: 3rem;
                }
        }

        .link-container {
            padding: 1.6rem 0;
            font-family: var(--font-family-text);

            a {
                color: var(--font-color-dark);
                background-color: var(--font-color);
                text-decoration: none;
                text-transform: uppercase;
                padding: 18px;
            }

            a:hover{
                color: var(--font-color-dark);
                background-color: var(--font-color-light);
                text-decoration: none;
                text-transform: uppercase;
                padding: 18px;
            }       
        }
    }
}

/* If the screen size is 599px or less use below styling* */
@media screen and (max-width: 599px) {
    main {
        gap: 0;

        .gift-card-container {
            width: 90%;
            margin: 1rem;

            section {
                font-size: 1rem;
                padding: 0.5rem;

                .title {
                    font-size: 2rem;
                }
            }
        } 

        .hero-container {
            width: 90%;
            height: 300px;

            section {
                color: var(--font-color);
                padding: 1rem;
                font-size: 1.2rem;

                .title {
                    font-size: 2rem;
                    }
            }
        }
    }
}

/* If the screen size is between 600 and 768px use below styling* */
@media only screen and (max-width: 768px) and (min-width: 600px) {
    main {
        gap: 0.2rem;

         .gift-card-container {
            width: 80%;
            padding: 0.5rem;
            margin: 1.5rem 0.5rem 0.5rem;

            section {
                font-size: 1.2rem;
                color: var(--font-color);
                padding: 0.2rem;

                .title {
                    font-size: 2.2rem;
                }
            }
        }
        .hero-container {
            width: 80%;
            height: 300px;

            section {
                color: var(--font-color);
                padding: 1rem;
                font-size: 1.2rem;

                .title {
                    font-size: 2.2rem;
                    }
            }
        }
    }
}
    

