nav {
    grid-area: header;
    display: flex;  
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--background-color);
    border-bottom: 1px solid var(--font-color);
    font-family: var(--font-family);
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 10;

        .logo { 
            border: 1px solid green;
            a {
                text-decoration: none;
                font-family: "Permanent Marker", cursive;
                font-weight: 400;
                font-size: 2rem;
                color: var(--font-color);
            }
        }
        .nav-links {
            /* border: 1px solid red;  */
            padding-left: 0px;
            display: flex; 
            list-style: none;
            gap: var(--padding);
        
            a {
                display: block;
                /* padding: 12px; */
                color: var(--font-color);
                font-family: var(--font-family);
                font-weight: 500;
                /* font-size: 1rem; */
                text-transform: uppercase;
                text-decoration: none;
            }

            a.active {
                color: var(--link-color);
                text-decoration: none;
            }

            a:hover{
                background-color: var(--link-hover);
                color: var(--font-color);
                text-decoration: none;
            }
        }
        
        .hamburger {
            display: none;
            background-color: transparent;
            border: 0;
            cursor: pointer;
            color: var(--font-color);
            font-size: 2rem; 
        }

        @media (max-width: 599px){
            .nav-links {
                display: none;
                width: 100%;
            }

            .hamburger {
                display: block;
            }

            .btn {
                width: 100%;
            }

        }
}