:root {
    --nav-background-color:#01060b;
    --nav-font-family: "Oswald", sans-serif;
    --nav-text-color:white; 
    --nav-hover-color: #d60305;
    --nav-padding: 18px;
}

nav {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--nav-font-family);
    background-color: var(--nav-background-color);
    padding: var(--nav-padding); 

    div.capitol-logo { 
        /* border: 1px solid green;    */
        img {
            /* border: 1px solid yellow; */
            width: 250px;
            height: 72px;
            margin: 0 auto;
        }
    }

    div.menu {
        /* border: 1px solid yellow; */
        display: flex;
        gap: 18px;

        a {
            color: var(--nav-text-color);
            padding: var(--nav-padding);  
            text-decoration: none;
        }
        
        a:hover {
            background-color: var(--nav-hover-color);
            color: var(--nav-text-color);
            padding: var(--nav-padding);
            text-decoration: none;
        }
    }
}

@media screen and (max-width: 599px){}
@media screen and (min-width: 600px) and (max-width:769px) {}
@media only screen and (min-width: 1200px) {}